################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureFunctions/AzureSignalRService.Functions/.vs
/AngularPublisherApp/node_modules
/AngularSubrscriberApp/node_modules